@model IEnumerable<S.NotaAtualizacao.Models.Clientes>

@{
    ViewData["Title"] = "Clientes";
}

<h3>Clientes</h3>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Novo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Codigo">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
